*{
    padding:0;
    margin:0;
}
div.ticTacToe{
    height:500px;
    width:100%;
    min-width:500px;
}
div.play{
width:216px;
height:216px;
margin:auto;
/* border:1px solid black; */
}
div.pixel{
    width:70px;
    height:70px;
    float:left;
    text-align:center;
    line-height: 70px;
    border:1px solid black;
    font-weight: bold;
    font-size:50px;
    transition:color 1s linear,transform 1s linear,border-radius 1s linear;
}
div.clearfix{
    clear:both;
}
.info{
    position: absolute;
    width:100px;
    height:71px;
    right:20px;
    top:20px;
    border:1px solid black;

}
.pixel:hover{
    background-color: bisque;
    cursor: pointer;
}
button{
    margin-top:5px;
    margin-left:30px;
}
.info div{
    font-size: 14px;
}