
*{
    padding:0;
    margin:0;
}

/* @keyframes appear{
    from{

        scale:0;
    }
    50%{
        scale:1.2;
    }
    to{
        scale:1;
    }
} */
/* @keyframes moveTop{
    from{

        margin-top:0px;
    }
    5%{
        margin-top:110px;
    }
    25%{
        margin-top:110px;
    }
    50%{
        margin-top:0px;
    }
    55%{
        margin-top:-110px;
    }
    75%{
        margin-top:-110px;
    }
    to{

        margin-top:0px;
    }
} */
#field{
    /* position: relative; */
    padding-top: 1px;
    margin:auto;
    margin-top:100px;
    width:450px;
    height: 450px;
    background-color:rgb(187, 173, 160);
    border-radius: 3%;

}
.line{
    /* position: relative; */
    height: 100px;
    margin-top:10px;

    
}
.cell{
    /* position: relative; */
    margin-left:10px;
    width:100px;
    height:100px;
    background-color: rgb(205, 193, 180);;
    float: left;
    border-radius: 6%;
    z-index: 1;

}
.clearfix{
    clear:both;
}
.filled{
    position: relative;
    text-align:center;
    color:white;
    line-height: 100px;
    font-weight: bold;
    font-size:50px;
    height:100px;
    width:100px;
    border-radius: 6%;
    transition: margin .15s;
    z-index: 2;
 
}